################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PRN211.E4_Group6_A3/.vs/PRN211.E4_Group6_A3/FileContentIndex
