@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <h5>Class PRN211.E4, Group 6:</h5><br />
    <h5>Vi Tuấn Vũ</h5><br />
    <h5>Đặng Công Thành</h5><br />
    <h5>Ngô Doãn Luân</h5><br />
    <h5>Vũ Hải Chiều</h5>
</p>
